@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: linear-gradient(180deg, #111827 0%, #171717 100%),
    linear-gradient(180deg, #111827 0%, #18181b 100%),
    linear-gradient(180deg, #111827 0%, #000000 100%);
  background-size: cover; /* Ensures the background covers the entire viewport */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
